 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/* universal css */
*{
  margin:0%;
  padding:0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* css for first nav bar  */
.f-nav{
  display:flex;
  margin:0 auto;
  max-width: 1280px;
  width: 100%;
  justify-content: center;
  justify-content: space-around;
  height: 44px;
  font-family: 'Inter', sans-serif !important;
}

@keyframes blink{
  0%{
    transform: translateY(10px);
    opacity: 1;
  }
  5%,50%{
    transform: translateY(0);
    opacity: 1;
  }
  51%{
    transform: translateY(-10px);
  }
  51.1%,100%{
    transform: translateY(10px);
    opacity:0;
  }
}

#text{
  padding-top: 8px;
  font-size: 19px;
  font-weight: 900px;
  font-family: 'Inter', sans-serif !important;
  padding-left:18px;
  animation: blink 1.9s linear infinite;

}
#text:hover{
  color:rgb(243, 243, 243);
}
.feature{
  display:flex;
  align-items: center;
  /* margin-inline :9px;
  padding:10px; */
  gap: 10px;
}

.hambergemenu, .hambergemenu2{
  display: none;
}

.one:hover{
  color:rgb(243, 243, 243);
}

/* css for second nevigation bar  */
.sec-nav{
  height: 60px;
  width:100%;
  max-width: 1280px;
  margin: 0 auto; 
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Inter', sans-serif !important;
  border-bottom: solid 1px #e6dede;
  
}

.show-dropdown{
  display:none;
}

.drop-down-box{
  /* display: none; */
  background-color: #f9f7f7;
  z-index: 9999999999;
  position: fixed;
  top:0;
  right:0;
  width: 100%;
  height: 110vh;
  overflow-y: scroll;

}

.drop-down-box>ul{
  margin-top: 38px;
  text-align: center;
}

.drop-down-box>ul>li{
  font-size: 20px; 
  margin: 0;
  padding:10px 0;
  
}

.menu-item.active{
  background-color: #e1d9d9;
}

.closeImg>img{
  width:25px;
  color: #4f4e4e;
  float: right;
  padding: 5px;
}

.menu-list li {
  list-style-type: none;
  margin: 10px 0;
}

.menu-list li a {
  text-decoration: none;
  color: #333;
}

.sec-nav img{
  width: 100%;
  height: 28px;
}
.logo-img{
  padding-left:5%;
}
.nykaa-bar{
  display: flex;
  gap:8px;
  margin: 0px 20px;
  font-size: 15px;
  font-weight: 500;
}
.nykaa-bar a{
  color: black;
  text-decoration: none;
}
.nykaa-bar a:hover{
  color: rgb(197, 112, 141);
}
.baritem{
  padding: 0px 10px;
}
.input{
display: flex;
gap:8px;
}
.input button:focus, .input input:focus{
  outline: none;
}
/* css for third navigation bar  */
.third-nav {
  display: flex;
  justify-content:space-around;
  /* padding-left: 100px; */
  font-size: 14px;
  font-family: 'Inter', sans-serif !important;
  font-weight: 200;
  max-width: 1280px;
  margin: 0 auto;
  height:45px;
  border-bottom: solid 1px #e6dede;
  align-items: center;
}
.offer-logo1{
  padding-left: 30px;
}
.Titem-cont{
  display: flex;
  gap:20px;
}
.Titem-cont a{
  color: rgb(144, 142, 142);
  text-decoration: none;
}
.Titem-cont a:hover{
  color: rgb(238, 34, 102);
}

/* css for main carosel  */
.main-caresol-container{
  padding-top:15px;
  width: 100%;
  /* height: 370px; */
  max-width: 1280px;
  margin:0 auto;
}

.main-img{
  margin: auto;
  display: flex;
  overflow: hidden;
  position: relative;
 
}
.slides{
  width: 100%;
  display: flex;
}
.slide img{
  margin-right: 25px;
  border-radius: 8px;
}

.slide-controls{
  position:absolute;
  top:50%;
  left:0;
  width: 100%;
  transform: translateY(-50%);
  display:flex;
  justify-content:space-between;
  align-items: center;
  padding:0 20px;
}
.next-btn, .prev-btn{
  cursor: pointer;
  background:whitesmoke;
  border-radius: 40px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  border: none;
  color:grey;
}
.next-btn:focus, .prev-btn:focus{
  outline:none;
}

/* .main-head{
  padding-left:55px;
} */
.sales{
  display: grid;
  width: 100%;
  padding: 10px;
  grid-template-columns: 600px 600px;
  justify-content: center;
  /* gap: 20px; */
  place-content: center;
  max-width: 1280px;
  margin:0 auto;
  margin-top: 3%;
}

.sale >img{
  width: 98%;
}

.wrapper1-container{
  margin:0 auto;
  max-width: 1280px;
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
  padding: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.wrapper1 {
  display:flex;
  height: 100%;
  padding-left: 30px;
}
.item1{
  margin: 15px;
}
.item1 img{
  width: 170px;
  height: 170px;
}
.item1 p{
  text-align: center;
  padding: 8px;
  padding-top: 25px;
}

.wrapper1-controls, .wrapper2-controls, .wrapper3-controls, .wrapper4-controls, .wrapper5-controls, .wrapper6-controls{
  position: absolute;
  top:50%;
  left:0;
  transform: translateY(-50%);
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.right-btn, .left-btn, .right-btn2, .left-btn2, .right-btn3, .left-btn3, .right-btn4, .left-btn4, .right-btn5, .left-btn5, .right-btn6, .left-btn6{
  cursor: pointer;
  background:whitesmoke;
  border-radius: 40px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  border: none;
  color:grey;
  margin-right: 20px;
  margin-left: 20px;
}
.left-btn:focus, .right-btn:focus, .left-btn2:focus, .right-btn2:focus, .left-btn3:focus, .right-btn3:focus, .left-btn4:focus, .right-btn4:focus, .left-btn5:focus, .right-btn5:focus, .left-btn6:focus, .right-btn6:focus{
  outline:none;
}
.small-img{
  max-width: 1280px;
  margin:0 auto;
}
.small-img img{
  padding: 30px;
  width: 100%;
  height: 200px;
  padding-top: 10px;
}

.limt-head img{
  width: 100%;
  padding-top: 20px;
}
.lim-body{
  background-color: #e0276ee8;
  justify-content: space-around;
  height: 300px;
}
.lim-body img{
  padding: 10px;
  padding-top: 70px;
  padding-bottom: 50px; 
  margin-left: 12px;
  height: auto;
  vertical-align: middle;
}
.uiq{
  display: flex;
  justify-content: 100px;
  width: 100%;
  padding: 30px;
}

.sec-nav input{
border-radius: 6px;
border-color: #c8c9cb;
padding: 5px;
border-style:none;
background-color: #f4f4f4;
}
#signin{
 padding: 6px;
 border-radius: 8px;
background-color:#fc2779;
color:white;
font-weight: 400;
border:none;
line-height: 20px;
}
#nv2{
  vertical-align: -webkit-baseline-middle;
}
.big-deal {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.mac1{
  display: grid;
  grid-template-columns: 350px 350px 350px;
  row-gap: 20px;
  column-gap: 20px;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
}

.mac1> img{
  width:350px ;
}

.combos img{
  width: 100%;
  padding:44px 20px;
}

.combos{
  max-width: 1280px;
  margin: 0 auto;
}
.product-head{
 padding: 5px;
 display: flex;
 justify-content: center;
}

.product-head>img, .spotlight-head>img, .carosel-head>img {
  width:100%
}
.wrapper2-container, .wrapper3-container, .wrapper4-container, .wrapper6-container{
  margin: auto;
  width: 100%;
  display: flex;
  position: relative;
  height: fit-content;
  overflow: hidden;
  padding: 10px;
  padding-left: 20px;
  padding-right:20px;
}
.wrapper5-container{
  margin: auto;
  width: 88%;
  display: flex;
  position: relative;
  height: fit-content;
  overflow: hidden;
}
.wrapper2, .wrapper4, .wrapper6{
  display: flex;
  height: 100%;
  margin-left: 10px;
}
.wrapper3, .wrapper5{
  display: flex;
 height: 100%;
}
.item2 .item4{
  padding: 10px;
  justify-content: space-around;
}
.item5{
  margin: 5px;
}
.item3{
  margin: 20px;
  justify-content: space-around;
}
.item2 img, .item4 img, .item6 img{
  padding: 5px;
  min-width: 100%; 
}

.product-head-container{
  max-width: 1280px;
  margin: 0 auto;
}

.item3 img{
  margin: 5px;
  min-width: 100%; 
  border-radius: 8px;
}
.item4 img{
  border-radius: 10px;
  margin-bottom: 20px;
}

.item2 p{
  text-align: center;
  padding: 8px;
  padding-top: none;
}


.spotlight-head{
  padding: 10px;
  display: flex;
  justify-content: center;
}

.spotlight-body{
  display: grid;
  width: 100%;
  max-width: 1280px;
  place-items: center;
  /* padding: 0 40px; */
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 40px;
  column-gap: 40px;
  place-content: center;
  margin:0 auto;
  padding: 40px;
  justify-content: center;
  background-color: #fc2779; 
}
.spotlight-body img{
border-radius: 8px;
}

.spotlight-body > img{
  width: 350px;
}
.spt2 img{
  margin-top: 40px;
  margin-bottom: 50px;
  border-radius: 8px;
  background-color: #fc2779;
}
.spt2{
  display: flex;
  justify-content: center;
  background-color: #fc2779;
  max-width: 1280px;
  margin: 0 auto;
}

.spt2 >img{
  width: 350px;
}
.carosel-head{
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.tranding-head{
  display: flex;
  padding-left: 80px;
  padding-top: 20px;
  padding-bottom: 5px;
  background-color: hsl(0, 0%, 90%);
  margin-top: 40px; 
}

.tranding-head>img{
  width: 80%;
  margin: 0;
}
.backset{
  background-color: hsl(0, 0%, 90%);
  padding-bottom: 30px;
  margin-bottom: 40px;
  max-width: 1280px;
  margin: 0 auto;
}
.influncers h4{
  display: flex;
  justify-content: center;
  padding:10px;
}

.influncers{
  max-width: 1280px;
  margin: 0 auto;
}

.carosel__connt4{
  max-width: 1280px;
  margin: 0 auto;
}

.influncers-2{
  display: flex;
  padding-left: 20px;
}
.influncers-2 div{
  padding-left: 10px;
  padding-bottom: 20px;
}
.influncers-2 h5{
  padding-left: 15px;
}
.influncers-2 p{
  padding-left:15px;
}
.influncers{
  padding-bottom: 20px;
}
.lastone{
  background-color: hsl(0, 0%, 90%);
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.f-brand h4{
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
.f-brand2{
  display: flex;
  justify-content: center;
}
.f-brand2 div,.f-brand3 div{
  justify-items: baseline;
  margin-left: 15px;
  margin-top: 20px;
  background-color: rgb(255, 254, 254);
  height: 360px; 
}
.f-brand2 div:hover, .f-brand3 div:hover{
  box-shadow: #494a4b 2px 2px 6px;
}
.f-brand2 div img,.f-brand3 div img{
  width: 280px;
  justify-items: baseline;
  justify-content: space-around;
}
.f-brand3{
  display: flex;
 justify-content: center;
}
.f-brand2>div>p, .f-brand3>div>p{
  text-align: center;
  padding: 10px;
}
.buying h4{
  padding: 15px;
  display: flex;
  justify-content: center;
}
.curation h4, .choice h4, .popup h4, .giftcard h4{
  padding: 15px;
  display: flex;
  justify-content: center;
  padding-bottom: none;
}
.curation img{
  /* margin-left:15px; */
  box-shadow: #494a4b 2px 2px 6px;
}
.curation-img, .choice-img, .popup-img, .giftcard-img{
  display: flex;
  justify-content: center;
}

.choice img{
  margin-left:15px;
  width: 200px;
  box-shadow: #494a4b 2px 2px 6px;
}


.popup img{
  /* margin-left: 15px; */
  /* padding-bottom: 50px;  */
  box-shadow: #494a4b 2px 2px 6px; 
}
.alert{
  display: flex;
  justify-content: center;
}
.wrapper5{
  display: flex;
}

#line1{
  padding-top: 25px;
}
#line2{
  padding-top: 30px;
}
.footer{
  display:block;
}
#footerid{
  width: 100%;
  margin-top: 10px;
  content-visibility: auto;
  background: #f3f3f3;
  /* margin: 40px 0; */
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  max-width: 1280px;
  margin:0 auto;
}
.footer-container1{
  display: flex;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left:  9%;
  background-color: #3F414D;
}
.footer-content1{
  padding:0px 50px;
  background-color: rgb(63,65,77);
  line-height: 20px;
  width: 380px;
  color: rgb(255,255,255);
}
.footer-content1 form{
  padding-top: 10px;
}
.footer-container1 form button{
  width: 70px;
  height: 35px;
  border-radius:4px;
  font-weight: 500;
  color: #fbf9f9;
  background-color: #3F414D;
  border-color: white;

}
.footer-container1 form button:focus{
  outline: none;
}
.footer-content1 input{
  width: 200px;
  height: 35px;
  background-color:#3f414d;
  color: white;
  border-left: none;
  border-right: none;
  border-top: none;
  padding: 4px;
  border-color: white;
}
.footer-content1 input::placeholder{
  color: #fff9f9;
  font-weight: 400;
  border: none;
}
.footer-content1 input:focus{
  outline: none;
}
.email-icon i{
  margin-right: 8px;
}
.footer-content2{
  padding:0px 60px;
  background-color: rgb(63,65,77);
  line-height: 20px;
  width: 350px;
  color: rgb(255,255,255);
}

.footer-content2 p{
  margin: none;
}
.developer-details{
  padding-top: 10px;
}
.developer-details a{
  color: white;
}
.footer-content3{
  padding:0px 50px;
  padding-right:30px;
  background-color: rgb(63,65,77);
  line-height: 20px;
  width: 85px;
  color: rgb(255,255,255);
}
.footer-content4{
  padding-right:60px;
  background-color: rgb(63,65,77);
  line-height: 20px;
  width: 306px;
  color: rgb(255,255,255)
}
.footer-container2{
  width: 100%;
  height: 405px;
  background-color: #8c8d94;
}
.footer-element{
  padding-top: 35px;
  padding-bottom: 30px;
  padding-left: 70px;
  padding-right: 70px;
  justify-content: center;
  font-weight: 200;
}
.footer-ele1, .footer-ele2, .footer-ele3, .footer-ele4, .footer-ele5{
  padding: 10px;
  color: white;
  height: 330px;
  width: 300px;
}
.footer-ele1 ul li, .footer-ele2 ul li, .footer-ele3 ul li, .footer-ele4 ul li, .footer-ele5 ul li{
  list-style: none;
  transition: color 1s;
  transition-timing-function: ease-in-out;
}
.footer-ele1 ul li:hover, .footer-ele2 ul li:hover, .footer-ele3 ul li:hover, .footer-ele4 ul li:hover, .footer-ele5 ul li:hover{
  color: rgb(248, 50, 116);
  
}
.footer-ele1 img{
  width: 90px;
  height: 28px;
  vertical-align:middle;
  margin-bottom: 10px;
}
.footer-element{
  display: flex;
}
.footer-element header{
  padding-bottom: 10px;
}
.lastfour-footer{
  background-color: #fc2779;
  height: 90px;
  padding-top: 15px;
   text-align: center;
}
.footer-container3{
  color: white;
}
.lastfour-footer a{
  color: white;
  text-decoration: none;
}
.helpline{
  display: flex;
  align-items: center;
  justify-content: center;
  color:black;
  /* padding-left: 35px; */
  width: 290px;
  height: 50px;
  gap: 10px;
  background-color:rgb(255, 255, 255);
  border-radius: 3px;
  position: fixed;
  right: 0;
  bottom: 0;
  box-shadow: #494a4b 2px 2px 6px;
}
.helpline p{
  font-weight: 300;
  padding-top: 17px;
}


/* media query  */
/* @media (max-width: 1280px) { 
  .f-nav, .sec-nav, .third-nav, .sales{
    max-width: 1280px;
  }
  
}

@media (max-width: 1536px) { 
  .f-nav, .sec-nav, .third-nav, .sales{
    max-width: 1536px;
  }
}

@media (max-width: 2303px) { 
  .f-nav,  .sec-nav, .third-nav, .sales{
    max-width: 2303px;
  }

} */

@media only screen and (min-width: 1600px) and (max-width: 2000px){
    .f-nav, .sec-nav, .third-nav, .sales, .spotlight-body,
     .backset, .lastone, #footerid{
      max-width: 2000px;
    }
  
  
    .mac1{
      grid-template-columns: 450px 450px 450px;
      max-width: 2000px;
    }
  
    .mac1>img{
      width:450px;
    }
  
    .spotlight-body > img{
      width: 450px;
    }
  
    .spotlight-body{
      row-gap: 30px;
      column-gap: 30px;
    }
  
    .carosel__connt4{
      max-width: 1800px;
    }
  
    .curation-img>img, .popup-img>img{
      width: 700px;
    }
}
@media only screen and (min-width: 1440px) and (max-width: 1600px){
    .f-nav, .sec-nav, .third-nav, .sales, .spotlight-body,
     .backset, .lastone, #footerid{
      max-width: 1600px;
    }
  
  
    .mac1{
      grid-template-columns: 400px 400px 400px;
      max-width: 1600px;
    }
  
    .mac1>img{
      width:400px;
    }
  
    .spotlight-body > img{
      width: 400px;
    }
  
    .spotlight-body{
      row-gap: 30px;
      column-gap: 30px;
    }
  
    .carosel__connt4{
      max-width: 1500px;
    }
  
    .curation-img>img, .popup-img>img{
      width: 600px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px){
  .f-nav, .sec-nav, .third-nav, .sales, .spotlight-body,
   .backset, .lastone, #footerid{
    max-width: 1440px;
  }

  .main-caresol-container{
    max-width:1250px;
  }

  .mac1{
    grid-template-columns: 360px 360px 360px;
    max-width: 1440px;
  }

  .mac1>img{
    width:360px;
  }

  .spotlight-body > img{
    width: 360px;
  }

  .spotlight-body{
    row-gap: 30px;
    column-gap: 30px;
  }

  .carosel__connt4{
    max-width: 1300px;
  }

  .curation-img>img, .popup-img>img{
    width: 500px;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1200px){
.sales{
  grid-template-columns: 500px 500px;
}
.spotlight-body > img{
  width: 300px;
}
.f-brand2 div img, .f-brand2 p, .f-brand3 div img, .f-brand3 p{
  width: 200px;
}

.main-caresol-container{
  max-width: 1000px;
}

.f-brand2 div{
  height: 330px;
}
.mac1> img{
  width:320px;
}

.mac1{
  column-gap:0px;
  max-width: 1000px;
}

.influncers-item>img{
  width: 200px;
}

.curation-img>img, .popup-img>img{
  width:400px;
}
.alert>img{
  width:900px;
}

#text{
  font-size: 16px;
}

.f-brand3 div{
  height: 300px;
}

.choice img {
  width:170px;
}

.wrapper5-container, .giftcard{
  scale:0.8;
}

.footer-container1{
  padding:40px;
}

.wrapper6-container, .footer-content1, .footer-content2, .footer-content3, .footer-content4{
  scale:0.8;
}

.footer-content2{
  padding:10px;
}

.footer-content1{
  padding: 0 10px;
}

.footer-ele1, .footer-ele2, .footer-ele3, .footer-ele4, .footer-ele5{
  scale: 0.9;
}

.influncers-item>p, .influncers-item>h5{
  width:135px;
}

.influncers-item>p{
  font-size:12px;
  width:70px;
}

.influncers-item>h5{
  font-size: 16px;
  margin-bottom: 0.3rem;
}

.alert{
  scale:0.8;
}

.logo-img{
  scale:0.9;
}

.feature{
  scale:0.8;
}

.baritem>a{
  font-size: 9px;
}

.input, .offer-logo1{
  scale:0.9; 
}

.Titem-cont {
  scale: 0.9;
  gap:10px;
  font-size: 12px;
}


}

@media only screen and (min-width: 850px) and (max-width: 1000px){
.sales{
  grid-template-columns: 400px 400px;
}
.spotlight-body > img{
  width: 230px;
}
.f-brand2 div img, .f-brand2 p, .f-brand3 div img, .f-brand3 p{
  width: 150px;
}
.f-brand2 p, .f-brand3 p {
  font-size:10px;
}
.f-brand2 div{
  height: 230px;
}
.mac1> img{
  width:280px;
}

.mac1{
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
  max-width: 850px;
}

.influncers-item>img{
  width: 150px;
}

.curation-img>img, .popup-img>img{
  width:300px;
}
.alert>img{
  width:800px;
}

#text{
  font-size: 12px;
  padding-left: 12px;
  padding-top: 12px;
}

.f-brand3 div{
  height: 200px;
}

.choice img {
  width:170px;
}

.wrapper5-container, .giftcard{
  scale:0.8;
}

.footer-container1{
  padding:40px;
}

.wrapper6-container, .footer-content1, .footer-content2, .footer-content3, .footer-content4{
  scale:0.8;
}

.footer-content2{
  padding:0px;
}

.footer-content1{
  padding: 0 10px;
}

.footer-ele1, .footer-ele2, .footer-ele3, .footer-ele4, .footer-ele5{
  scale: 0.9;
}

.influncers-item>p, .influncers-item>h5{
  width:135px;
}

.influncers-item>p{
  font-size:12px;
}

.influncers-item>h5{
  font-size: 16px;
  margin-bottom: 0.3rem;
}

.alert{
  scale:0.8;
}

.logo-img{
  scale:0.9;
}

.feature{
  scale:0.8;
}

.baritem>a{
  font-size: 9px;
}

.input, .offer-logo1{
  scale:0.9; 
}

.spt2>img{
  width:230px;
}

.Titem-cont {
  scale: 0.9;
  gap:10px;
  font-size: 12px;
}

.slide>img{
  width:815px;
}

.prev-btn, .next-btn, .left-btn, .right-btn{
  width:35px;
  height:35px;
}

.main-head>h3{
  font-size: 23px;
}

.wrapper1-container, .wrapper2-container, .wrapper3-container{
  scale:0.9;
}

.item3{
  margin:3px;
}

.item3>img{
  width: 220px;
}

.item4>img{
  width: 200px;
}

.item1{
  margin: 5px;
}
.item1 img{
  width: 130px;
  height: 130px;
}

.item1 p {
  padding:0px;
  padding-top: 25px;
}

.item6>img{
  width:180px;
}

.helpline{
  width:260px;
}

.main-caresol-container{
  max-width: 850px;
}

}

@media only screen and (min-width: 600px) and (max-width: 850px){
.sales{
  grid-template-columns: 280px 280px;
}
.spotlight-body > img{
  width: 170px;
}

.main-caresol-container{
  max-width: 600px;
}

.spotlight-body{
  row-gap: 20px;
  column-gap: 20px;
}
.f-brand2 div img, .f-brand2 p, .f-brand3 div img, .f-brand3 p{
  width: 120px;
}
.f-brand2 p, .f-brand3 p {
  font-size:10px;
}
.f-brand2 div{
  height: 190px;
}

.f-brand3 div{
  height: 180px;
}

.mac1> img{
  width:190px;
}

.mac1{
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
  max-width: 600px;
}

.influncers-item>img{
  width: 120px;
}

.influncers-item>h5{
  font-size: 14px;
}

.curation-img>img, .popup-img>img{
  width:250px;
}
.alert>img{
  width:600px;
}

#text {
  font-size: 7px;
  padding-left: 5px;
  padding-top: 12px;
}

.choice img {
  width:120px;
}

.wrapper5-container, .giftcard{
  scale:0.8;
}

.footer-container1{
  padding:20px;
}

.wrapper6-container, .footer-content1, .footer-content2, .footer-content3, .footer-content4{
  scale:0.8;
}

.footer-content2{
  padding:0px;
}

.footer-content1{
  padding: 0 10px;
}

.footer-ele1, .footer-ele2, .footer-ele3, .footer-ele4, .footer-ele5{
  scale: 0.9;
}

.influncers-item>p, .influncers-item>h5{
  width:100px;
  padding-left: 5px;
}

.influncers-item>p{
  font-size:11px;
}

.influncers-item>h5{
  font-size: 16px;
  margin-bottom: 0.3rem;
}

.alert{
  scale:0.8;
}

.logo-img{
  scale:0.7;
  padding-left: 0;
}

#signin{
  font-size: 14px;
  width: 60px;
  line-height: 10px;
}

.feature{
  scale:0.8;
}

.sec-nav input {
  width:150px;
  font-size: 14px;
}

.input{
  gap: 4px;
}

.nykaa-bar{
  margin: 0px 10px;
  font-size: 13px;
  font-weight: 300;
}

.sec-nav{
  height: 50px;
}

.baritem>a{
  font-size: 7px;
}

.baritem{
  padding:0 5px;
}

.input, .offer-logo1{
  scale:0.9; 
}

.offer-logo1{
  padding-left: 0;
}

.spt2>img{
  width:170px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.Titem-cont {
  scale: 0.9;
  gap:10px;
  font-size: 10px;
}

.slide>img{
  width:565px;
  height: 160px;
}

.prev-btn, .next-btn, .left-btn, .right-btn{
  width:40px;
  height:40px;
}

.main-head>h3{
  font-size: 18px;
}

.wrapper1-container, .wrapper2-container, .wrapper3-container{
  scale:0.9;
}

.wrapper1-container{
padding: 20px 10px;
}

.item3{
  margin:2px;
}

.item3>img{
  width: 150px;
}

.item4>img{
  width: 140px;
}

.item1{
  margin: 5px;
}
.item1 img{
  width: 90px;
  height: 120px;
}

.item1 p {
  padding:0px;
  padding-top: 22px;
  font-size: 12px;
}

.item6>img{
  width:200px;
}

.helpline{
  width:230px;
}

.item2 img{
  width:150px;
}

.item2 p{
  font-size: 12px;
}

.one{
  font-size:10px;
  width:81px;
}

.f-nav{
  height: 33px;
}

.left-btn, .right-btn{
  margin-left: 0;
  margin-right: 0;
}

.small-img img{
  scale: 0.9;
  padding: 20px;
  height: 120px;
}

.right-btn3, .left-btn3, .right-btn4, .left-btn4{
  margin-left: 0;
  margin-right: 0;
  width:40px;
  height:40px;
}

.influncers>h4{
  font-size: 18px;
}

.wrapper4{
  margin-left: 0;
}

.item4 img{
  padding: 2px;
}

.backset{
  padding-bottom: 0;
}

.f-brand h4{
  font-size: 18px;
}

.f-brand2>div>p, .f-brand3>div>p{
  padding: 5px;
  font-size: 9px;
}

h4{
  font-size: 1.2rem;
}

.giftcard-img > img{
  width: 400px;
}

#footerid{
  font-size: 10px;
  font-weight: 200;
}

.footer-content3{
  padding: 0;
  width: 0;
}

.right-btn5, .left-btn5, .right-btn6, .left-btn6{
  width:40px;
  height:40px;
}

.footer-element {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 25px;
}

.lastfour-footer{
  font-size:10px;
}

}

@media only screen and (min-width: 425px) and (max-width: 600px){
.sales{
  grid-template-columns: 200px 200px;
}
.spotlight-body > img{
  width: 120px;
}

.main-caresol-container{
  max-width: 425px;
}

.spotlight-body{
  row-gap: 20px;
  column-gap: 20px;
}
.f-brand2 div img, .f-brand2 p, .f-brand3 div img, .f-brand3 p{
  width: 80px;
}
.f-brand2 p, .f-brand3 p {
  font-size:10px;
}
.f-brand2 div, .f-brand3 div {
  height: 150px;
  margin-top: 10px;
  margin-left: 8px;
  font-size: 8px;
}

.f-brand3 div{
  height: 130px;
}

.mac1> img{
  width:130px;
}

.mac1{
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
  max-width: 425px;
}

.influncers-item>img{
  width: 80px;
}

.influncers-item>h5{
  font-size: 14px;
}

.curation-img>img, .popup-img>img{
  width:200px;
}
.alert>img{
  width:500px;
}

.offer-logo1{
  width: 60px;
}

#text {
  display: none;
  font-size: 7px;
  padding-left: 5px;
  padding-top: 12px;
}

.choice img {
  width:80px;
  margin-left: 10px;
}

.wrapper5-container, .giftcard{
  scale:0.8;
}

.footer-container1{
  padding:10px;
}

.wrapper6-container, .footer-content1, .footer-content2, .footer-content3, .footer-content4{
  scale:0.8;
}

.wrapper6-container{
  padding: 0;
}

.footer-content4{
  padding:0 5px;
}

.footer-content2{
  padding:0px;
}

.footer-content1{
  padding: 0 10px;
}

.footer-ele1, .footer-ele2, .footer-ele3, .footer-ele4, .footer-ele5{
  scale: 0.9;
}

.influncers-item>p, .influncers-item>h5{
  width:80px;
  padding-left: 2px;
}

.influncers-item>p{
  font-size:9px;
}

.influncers-item>h5{
  font-size: 10px;
  margin-bottom: 0.3rem;
}

.alert{
  scale:0.8;
}

.logo-img{
  scale:0.7;
  padding-left: 0;
}

#signin{
  font-size: 14px;
  width: 60px;
  line-height: 10px;
}

.feature{
  scale:0.8;
}

.sec-nav input {
  width:150px;
  font-size: 14px;
}

.input{
  gap: 0px;
}

.nykaa-bar{
  margin: 0px 10px;
  font-size: 13px;
  font-weight: 300;
}

.sec-nav{
  height: 50px;
}

.baritem>a{
  font-size: 7px;
}

.baritem{
  padding:0 5px;
}

.input, .offer-logo1{
  scale:0.9; 
}

.offer-logo1{
  padding-left:0;
}

.offer-logo1>img{
  width:50px;
}

.spt2>img{
  width:120px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.Titem-cont {
  scale: 0.9;
  gap:5px;
  font-size: 8px;
}



.slide>img{
  width:425px;
  height: 160px;
}

.prev-btn, .next-btn, .left-btn, .right-btn{
  width:35px;
  height:35px;
}

.main-head>h3{
  font-size: 16px;
}

.wrapper1-container, .wrapper2-container, .wrapper3-container{
  scale:0.9;
}

.wrapper1-container{
padding: 20px 10px;
}

.item3{
  margin:2px;
}

.item3>img{
  width: 150px;
}

.item4>img{
  width: 140px;
}

.item1{
  margin: 5px;
  height:130px;
}

.item1 img{
  width: 90px;
  height: 100px;
}

.item1 p {
  padding:0px;
  padding-top: 22px;
  font-size: 12px;
}

.item6>img{
  width:200px;
}

.helpline{
  width: 180px;
  font-size: 12px;
  height: 30px;
  gap: 5px;
}

.helpline>img{
  height: 18px;
  width: 18px;
}

.item2 img{
  width:150px;
}

.item2 p{
  font-size: 12px;
}

.one{
  font-size:10px;
  width:81px;
}

.f-nav{
  height: 33px;
}

.left-btn, .right-btn{
  margin-left: 0;
  margin-right: 0;
}

.small-img img{
  scale: none;
  padding: 20px;
  height: 100px;
}

.footer-container1 form button{
  width: 60px;
  height: 30px;
}

.footer-container1{
  text-align: center;
}

.right-btn3, .left-btn3, .right-btn4, .left-btn4{
  margin-left: 0;
  margin-right: 0;
  width:35px;
  height:35px;
}

.right-btn2, .left-btn2{
  width:40px;
  height:40px;
}

.influncers>h4{
  font-size: 14px;
}

.wrapper4{
  margin-left: 0;
}

.item4 img{
  padding: 2px;
}

.backset{
  padding-bottom: 0;
}

.f-brand h4{
  font-size: 18px;
}

.f-brand2>div>p, .f-brand3>div>p{
  padding: 5px;
  font-size: 8px;
}

h4{
  font-size: 1rem;
}

.item5{
  margin:0;
}

.item5 > img{
  height: 250px;
}

.giftcard-img > img{
  width: 350px;
}

#footerid{
  font-size: 10px;
  font-weight: 200;
}

.footer-content3{
  padding: 0;
  width: 0;
}

.right-btn5, .left-btn5, .right-btn6, .left-btn6{
  width:40px;
  height:40px;
}

.footer-element {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.footer-ele1, .footer-ele2, .footer-ele3, .footer-ele4, .footer-ele5 {
  padding:5px;
}

.lastfour-footer{
  font-size:8px;
  height: 75px;
  padding-top: 10px;
}

.influncers-2 div{
  padding-left: 5px;
  padding-bottom: 0;
}

.footer-content1 input {
  width: 120px;
  height: 25px;
}

.email-icon{
  width: 130px;
}

/* .drop-down-box{
  display: none;
} */

}

@media only screen and (min-width: 375px) and (max-width: 425px){
.sales{
  grid-template-columns: 180px 180px;
  max-width: 375px;
}
.spotlight-body > img{
  width: 110px;
}

.main-caresol-container{
  max-width: 375px;
}

.spotlight-body{
  row-gap: 10px;
  column-gap: 10px;
  padding: 20px;
}
.f-brand2 div img, .f-brand2 p, .f-brand3 div img, .f-brand3 p{
  width: 80px;
}
.f-brand2 p, .f-brand3 p {
  font-size:10px;
}
.f-brand2 div, .f-brand3 div {
  height: 150px;
  margin-top: 10px;
  margin-left: 8px;
  font-size: 8px;
}

.f-brand3 div{
  height: 130px;
}

.mac1> img{
  width:110px;
}

.mac1{
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
  max-width: 425px;
}

.influncers-item>img{
  width: 80px;
}

.influncers-item>h5{
  font-size: 14px;
}

.curation-img>img, .popup-img>img{
  width:170px;
}
.alert>img{
  width:450px;
}

.offer-logo1{
  width: 60px;
}

#text {
  display: none;
  font-size: 7px;
  padding-left: 5px;
  padding-top: 12px;
}

.choice img {
  width:80px;
  margin-left: 5px;
}

.wrapper5-container, .giftcard{
  scale:0.8;
}

.footer-container1{
  padding:5px;
}

.wrapper6-container, .footer-content1, .footer-content2, .footer-content3, .footer-content4{
  scale:0.8;
}

.wrapper6-container{
  padding: 0;
}

.footer-content4{
  padding:0;
}

.footer-content2{
  padding:0px;
}

.footer-content1{
  padding: 0;
}

.footer-ele1, .footer-ele2, .footer-ele3, .footer-ele4, .footer-ele5{
  scale: 0.9;
}

.influncers-item>p, .influncers-item>h5{
  width:80px;
  padding-left: 2px;
}

.influncers-item>p{
  font-size:9px;
}

.influncers-item>h5{
  font-size: 10px;
  margin-bottom: 0.3rem;
}

.alert{
  scale:0.8;
}

.logo-img{
  scale:0.7;
  padding-left: 0;
}

#signin{
  font-size: 10px;
  width: 50px;
  line-height: 10px;
}

.feature{
  scale:0.8;
}

.sec-nav input {
  width:120px;
  font-size: 11px;
}

.input{
  gap: 0px;
}

.nykaa-bar{
  margin: 0px 10px;
  font-size: 13px;
  font-weight: 300;
}

.sec-nav{
  height: 50px;
  justify-content: space-between;
}

.baritem>a{
  font-size: 7px;
}

.baritem{
  padding:0;
}

.input, .offer-logo1{
  scale:0.9; 
}

.offer-logo1{
  padding-left:0;
}

.offer-logo1>img{
  width:50px;
}

.spt2>img{
  width:120px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.Titem-cont {
  scale: 0.9;
  gap:5px;
  font-size: 8px;
}



.slide>img{
  width:375px;
  height: 180px;
}

.prev-btn, .next-btn, .left-btn, .right-btn{
  width:35px;
  height:35px;
}

.main-head>h3{
  font-size: 16px;
}

.wrapper1-container, .wrapper2-container, .wrapper3-container{
  scale:0.9;
}

.wrapper1-container{
padding: 20px 10px;
}

.item3{
  margin:2px;
}

.item3>img{
  width: 150px;
}

.item4>img{
  width: 140px;
}

.item1{
  margin: 5px;
  height:130px;
}

.item1 img{
  width: 90px;
  height: 100px;
}

.item1 p {
  padding:0px;
  padding-top: 22px;
  font-size: 12px;
}

.item6>img{
  width:200px;
}

.helpline{
  width: 180px;
  font-size: 12px;
  height: 30px;
  gap: 5px;
}

.helpline>img{
  height: 18px;
  width: 18px;
}

.item2 img{
  width:150px;
}

.item2 p{
  font-size: 12px;
}

.one{
  font-size:10px;
  width:81px;
}

.f-nav{
  height: 33px;
}

.left-btn, .right-btn{
  margin-left: 0;
  margin-right: 0;
}

.small-img img{
  scale: none;
  padding: 20px;
  height: 100px;
}

.footer-container1 form button{
  width: 60px;
  height: 30px;
}

.footer-container1{
  text-align: center;
}

.right-btn3, .left-btn3, .right-btn4, .left-btn4{
  margin-left: 0;
  margin-right: 0;
  width:35px;
  height:35px;
}

.right-btn2, .left-btn2{
  width:40px;
  height:40px;
}

.influncers>h4{
  font-size: 14px;
}

.wrapper4{
  margin-left: 0;
}

.item4 img{
  padding: 2px;
}

.backset{
  padding-bottom: 0;
}

.f-brand h4{
  font-size: 18px;
}

.f-brand2>div>p, .f-brand3>div>p{
  padding: 5px;
  font-size: 8px;
}

h4{
  font-size: 1rem;
}

.item5{
  margin:0;
}

.item5 > img{
  height: 250px;
}

.giftcard-img > img{
  width: 350px;
}

#footerid{
  font-size: 10px;
  font-weight: 200;
}

.footer-content3{
  padding: 0;
  width: 0;
}

.right-btn5, .left-btn5, .right-btn6, .left-btn6{
  width:40px;
  height:40px;
}

.footer-element {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.footer-ele1, .footer-ele2, .footer-ele3, .footer-ele4, .footer-ele5 {
  padding:5px;
}

.lastfour-footer{
  font-size:8px;
  height: 75px;
  padding-top: 10px;
}

.influncers-2 div{
  padding-left: 5px;
  padding-bottom: 0;
}

.footer-content1 input {
  width: 120px;
  height: 25px;
}

.email-icon{
  width: 130px;
}

.hambergemenu>img{
  width: 30px;
}

.hambergemenu{
  display: flex;
}

.f-nav{
  display:none;
}

.footer-container2{
  height: 450px;
}

/* .drop-down-box{
  display: none;
} */

}

@media only screen and (min-width: 320px) and (max-width: 375px){
.sales{
  grid-template-columns: 160px 160px;
  max-width: 320px;
}
.spotlight-body > img{
  width: 90px;
}

.main-caresol-container{
  max-width: 320px;
}

.spotlight-body{
  row-gap: 10px;
  column-gap: 10px;
  padding: 20px;
}
.f-brand2 div img, .f-brand2 p, .f-brand3 div img, .f-brand3 p{
  width: 140px;
}
.f-brand2 p, .f-brand3 p {
  font-size:10px;
}
.f-brand2 div, .f-brand3 div {
  height: 200px;
  margin-top: 10px;
  margin-left: 8px;
  font-size: 12px;
}


.mac1> img{
  width:100px;
}

.mac1{
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
  max-width: 320px;
}

.choice-img{
  flex-wrap:wrap;
}

.influncers-item>img{
  width: 130px;
  margin-top: 5px;
}

.influncers-item>h5{
  font-size: 14px;
}

.curation-img, .popup-img{
  flex-wrap: wrap;
}

.curation-img>img, .popup-img>img{
  width:200px;
  /* flex-wrap: wrap; */
  margin-top: 5px;
}
.alert>img{
  width:400px;
}

.offer-logo1{
  width: 60px;
}

#text {
  display: none;
  font-size: 7px;
  padding-left: 5px;
  padding-top: 12px;
}

.choice img {
  width:130px;
  margin-left: 5px;
  margin-top: 5px;
}

.wrapper5-container, .giftcard{
  scale:0.8;
}

.footer-container1{
  padding:5px;
}

.wrapper6-container, .footer-content1, .footer-content2, .footer-content3, .footer-content4{
  scale:0.8;
  
}

.footer-content2{
  display:none;
}

.footer-ele3{
  display:none;
}

.wrapper6-container{
  padding: 0;
}

.footer-content4{
  padding:0;
}

.footer-content2{
  padding:0px;
}

.footer-content1{
  padding: 0;
}

.footer-ele1, .footer-ele2, .footer-ele3, .footer-ele4, .footer-ele5{
  scale: 0.9;
}

.influncers-item>p, .influncers-item>h5{
  /* width:80px; */
  padding-left: 2px;
}

.influncers-item>p{
  font-size:9px;
}

.influncers-item>h5{
  /* width:70px; */
  font-size: 8px;
  font-size: 10px;
  margin-bottom: 0.3rem;
}

.alert{
  scale:0.8;
}

.logo-img{
  scale:0.7;
  padding-left: 0;
}

#signin{
  font-size: 10px;
  width: 50px;
  line-height: 10px;
}

.feature{
  scale:0.8;
}

.sec-nav input {
  width:120px;
  font-size: 11px;
}

.input{
  gap: 0px;
}

.nykaa-bar{
  display: none;
}

.sec-nav{
  height: 50px;
  justify-content: space-between;
}

.baritem>a{
  font-size: 7px;
}

.baritem{
  padding:0;
}

.input, .offer-logo1{
  scale:0.9; 
}

.offer-logo1{
  padding-left:0;
}

.offer-logo1>img{
  width:50px;
}

.spt2>img{
  width:120px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.Titem-cont {
  scale: 0.9;
  gap:5px;
  font-size: 8px;
}



.slide>img{
  width:320px;
  height: 150px;
}

.prev-btn, .next-btn, .left-btn, .right-btn{
  width:35px;
  height:35px;
}

.main-head>h3{
  font-size: 16px;
}

.wrapper1-container, .wrapper2-container, .wrapper3-container{
  scale:0.9;
}

.wrapper1-container{
padding: 20px 10px;
}

.item3{
  margin:2px;
}

.item3>img{
  width: 150px;
}

.item4>img{
  width: 140px;
}

.item1{
  margin: 5px;
  height:130px;
}

.item1 img{
  width: 90px;
  height: 100px;
}

.item1 p {
  padding:0px;
  padding-top: 22px;
  font-size: 12px;
}

.item6>img{
  width:200px;
}

.helpline{
  width: 180px;
  font-size: 12px;
  height: 30px;
  gap: 5px;
}

.helpline>img{
  height: 18px;
  width: 18px;
}

.item2 img{
  width:150px;
}

.item2 p{
  font-size: 12px;
}

.one{
  font-size:10px;
  width:81px;
}

.f-nav{
  display:none;
}

.left-btn, .right-btn{
  margin-left: 0;
  margin-right: 0;
}

.small-img img{
  scale: none;
  padding: 20px;
  height: 100px;
}

.footer-container1 form button{
  width: 60px;
  height: 30px;
}

.footer-container1{
  text-align: center;
}

.right-btn3, .left-btn3, .right-btn4, .left-btn4{
  margin-left: 0;
  margin-right: 0;
  width:35px;
  height:35px;
}

.right-btn2, .left-btn2{
  width:40px;
  height:40px;
}

.influncers>h4{
  font-size: 14px;
}

.wrapper4{
  margin-left: 0;
}

.item4 img{
  padding: 2px;
}

.backset{
  padding-bottom: 0;
}

.f-brand h4{
  font-size: 18px;
}

.f-brand2>div>p, .f-brand3>div>p{
  padding: 5px;
  font-size: 8px;
}

.f-brand2{
  display: flex;
  flex-wrap: wrap;
}

h4{
  font-size: 1rem;
}

.item5{
  margin:0;
}

.item5 > img{
  height: 250px;
}

.giftcard-img > img{
  width: 350px;
}

#footerid{
  font-size: 10px;
  font-weight: 200;
}

.footer-content3{
  padding: 0;
  width: 0;
}

.right-btn5, .left-btn5, .right-btn6, .left-btn6{
  width:40px;
  height:40px;
}

.footer-element {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.footer-ele1, .footer-ele2, .footer-ele3, .footer-ele4, .footer-ele5 {
  padding:5px;
}

.lastfour-footer{
  font-size:8px;
  height: 75px;
  padding-top: 10px;
}

.influncers-2 div{
  padding-left: 5px;
  padding-bottom: 0;
}

.influncers-2 {
flex-wrap: wrap;
}

.footer-content1 input {
  width: 120px;
  height: 25px;
}

.email-icon{
  width: 130px;
}

.hambergemenu>img{
  width: 30px;
}

.hambergemenu, .hambergemenu2{
  display: flex;
}

.footer-container2{
  height: 450px;
}

.third-nav{
  display:none;
}

/* .drop-down-box{
  display: none;
} */

}